.mm-toggle-switch-input {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  visibility: visible;
  clip: rect(0 0 0 0);
}

.mm-toggle-switch-label {
  display: inline-flex;
  align-items: center;
  min-width: 50px;
  min-height: 32px;
  cursor: pointer;
}

.mm-toggle-switch-slider {
  display: inline-block;
  position: relative;
  width: 52px;
  height: 32px;
}

.mm-toggle-switch-slider::before,
.mm-toggle-switch-slider::after {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 0;
  left: 1px;
  content: '';
}

.mm-toggle-switch-slider::before {
  display: inline-block;
  max-width: 50px;
  height: 30px;
  transition: background 0.2s ease-out;
  border: 2px solid #e5e5e5;
  border-radius: 30px;
  background: #fff;
}

.mm-toggle-switch-slider::after {
  display: block;
  width: 26px;
  height: 26px;
  margin: 2px 0 0 2px;
  transition: margin 0.2s ease-out;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  border-radius: 100%;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15), 0 3px 1px 0 rgba(0, 0, 0, 0.06);
}

.mm-toggle-switch-input:checked
  + .mm-toggle-switch-label
  .mm-toggle-switch-slider::before {
  border: none;
  background: #1471da;
  box-shadow: inset 0 0 0 2px #1471da;
}

.mm-toggle-switch-input:checked
  + .mm-toggle-switch-label
  .mm-toggle-switch-slider::after {
  margin-left: 22px;
  background: #fff;
}

.mm-toggle-switch-label-text {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6;
  text-transform: uppercase;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  margin-left: 15px;
  color: #000;
}

.mm-toggle-switch-input:disabled + .mm-toggle-switch-label {
  cursor: default;
}

.mm-toggle-switch-input:disabled
  + .mm-toggle-switch-label
  .mm-toggle-switch-slider::before {
  border: 2px solid #686868;
  background: #686868;
  box-shadow: none;
}

.mm-toggle-switch-input:disabled
  + .mm-toggle-switch-label
  .mm-toggle-switch-slider::after {
  background: #fff;
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.15), 0 0 0 0.6px #fff;
}

.mm-toggle-switch--reverse .mm-toggle-switch-label-text {
  margin-right: 15px;
  margin-left: 0;
}

.mm-toggle-switch-input:disabled
  + .mm-toggle-switch-label
  .mm-toggle-switch-label-text {
  color: #414141;
}
